---
  layout: page
  title: Home
---

{% for post in paginator.posts %}
<div class="post-section">
<h2 class="post-title" >
	<a href="{% unless site.baseurl == "/" %}{{ site.baseurl }}{% endunless %}{{ post.url }}">{{ post.title }}</a>
</h2>

<p>
	<span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date: "%B %d, %Y" }} by {{ site.author_name}}
</p>
	
<p>
{{ post.content | split:"<!-- more -->" | first | strip_html | truncate:300 }}
</p>

{% if post.content | size > 300 %}
   
<a class="btn btn-primary" href="{% unless site.baseurl == "/" %}{{ site.baseurl }}{% endunless %}{{ post.url }}">
	{{ site.str_read_more }} <span class="glyphicon glyphicon-chevron-right"></span>
</a>


{% else %}
{% else %}
    {{ post.content }}
{% endif %}  
</div>
<!-- end of loop -->    
{% endfor %}

{% include paginator.html %}
                
            