---
  layout: default
---
<!-- Page Content -->
<div class="container">
    <div class="row">

        <div class="col-md-12">
            {% include ad-leaderboard.html %}
        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-12">
        <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <p>
                <i class="fa fa-calendar"></i> {{ page.date | date: "%B %d, %Y" }} by {{ site.author_name}}  | <i class="fa fa-tags"></i> Tags:

                    {% for tag in page.tags %}
                       <a class="post-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                    {% endfor %}

                <a class="pull-right" href="{{ post.url }}#disqus_thread"></a>
            </p>
            <hr>
            {{ content }}

            {% assign post = page %}
            {% assign category = site.my_categories | where: "slug", post.category %}
            {% assign category = category[0] %}
            {% if category %}
              {% capture category_content %}<a class="label" href="{{ category.url }}" style="background-color:{{ category.color }}">{{ category.name }}</a>{% endcapture %}
            {% endif %}

             <p>
               Posted{% if category_content %} in {{ category_content }}{% endif %}
             </p>
        </div>

            <br/>{% include share-page.html %}<br/>

            {% include next-previous-widget.html %}
            <br/><br/>
            {% include ad-footer-leaderboard.html %}
            {% include disqus.html %}
        </div>
    </div>
</div>
